root=true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{md}]
indent_style = ignore
indent_size = ignore

[*.{md}]
indent_style = tab
indent_size = 1

[*.{js,ts,jsx,tsx}]
indent_style = tab
indent_size = 1
block_comment_start = /*
block_comment = *
block_comment_end = */

[*.{yml,json}]
indent_style = tab
indent_size = 1

[*.{html,ejs,css,scss}]
indent_style = tab
indent_size = 1
