.vscode/*
**/.history/*
.github/*
.git/*
.DS_Store
**/.cache/*
**/node_modules/*
**/package-lock.json
**/yarn.lock
**/pnpm-lock.yaml
**/dist
**/.tmp
**/stats.html
**/.eslintcache
**/.types
.turbo
*.tsbuildinfo
vitest.config.ts.js
**/.patched/*
**/.pnpm-debug.log
