.test-scope{--tw-text-opacity:1;color:rgba(255,255,255,var(--tw-text-opacity));margin:1rem;padding:1rem;--tw-bg-opacity:1;background-color:rgba(0,0,0,var(--tw-bg-opacity))}
.test-scope p{--tw-text-opacity:1;color:rgba(37,99,235,var(--tw-text-opacity));padding:2rem;--tw-bg-opacity:1;background-color:rgba(254,226,226,var(--tw-bg-opacity))}
.test-scope p > span{--tw-text-opacity:1;color:rgba(252,165,165,var(--tw-text-opacity));padding-left:1rem;padding-right:1rem;padding-top:1rem;padding-bottom:1rem;-webkit-text-decoration:underline;text-decoration:underline}
.test-scope > h4{font-weight:800;text-transform:uppercase}
.bg-yellow-400{--tw-bg-opacity:1;background-color:rgba(250,204,21,var(--tw-bg-opacity))}
.test-scope > h4{padding:1em;background-color:blue}
.test-scope > p{font-family:serif;color:magenta}
.test-scope p span{font-size:200%}
.bg-yellow-500{--tw-bg-opacity:1;background-color:rgba(234,179,8,var(--tw-bg-opacity))}
.text-2xl{font-size:1.5rem;line-height:2rem}
.bg-yellow-600{--tw-bg-opacity:1;background-color:rgba(202,138,4,var(--tw-bg-opacity))}
.text-4xl{font-size:2.25rem;line-height:2.5rem}
.\~\(\!text-center\,hover\:underline\,cursor-pointer\,text-red-800\,bg-green-50\,hover\:\!bg-red-100\,w-1\/2\,ml-11\){--tw-text-opacity:1;color:rgba(153,27,27,var(--tw-text-opacity));cursor:pointer;width:50%;--tw-bg-opacity:1;background-color:rgba(240,253,244,var(--tw-bg-opacity));text-align:center !important;margin-left:2.75rem}
.\~\(\!text-center\,hover\:underline\,cursor-pointer\,text-red-800\,bg-green-50\,hover\:\!bg-red-100\,w-1\/2\,ml-11\):hover{--tw-bg-opacity:1 !important;background-color:rgba(254,226,226,var(--tw-bg-opacity)) !important;-webkit-text-decoration:underline;text-decoration:underline}
.m-2{margin:0.5rem}
.p-2{padding:0.5rem}
.w-1\/2{width:50%}
.bg-yellow-700{--tw-bg-opacity:1;background-color:rgba(161,98,7,var(--tw-bg-opacity))}
.border-purple-500{--tw-border-opacity:1;border-color:rgba(168,85,247,var(--tw-border-opacity))}
.text-6xl{font-size:3.75rem;line-height:1}
.border-2{border-width:2px}
.border-dotted{border-style:dotted}
.form-input,.form-textarea,.form-select,.form-multiselect{-webkit-appearance:none;-moz-appearance:none;appearance:none;background-color:#fff;border-color:#6b7280;border-width:1px;border-radius:0px;padding-top:0.5rem;padding-right:0.75rem;padding-bottom:0.5rem;padding-left:0.75rem;font-size:1rem;line-height:1.5rem;--tw-shadow:0 0 #0000}
.form-input:focus,.form-textarea:focus,.form-select:focus,.form-multiselect:focus{outline:2px solid transparent;outline-offset:2px;--tw-ring-inset:var(--tw-empty,/*!*/ /*!*/);--tw-ring-offset-width:0px;--tw-ring-offset-color:#fff;--tw-ring-color:#2563eb;--tw-ring-offset-shadow:var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);--tw-ring-shadow:var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);box-shadow:var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);border-color:#2563eb}
.form-input::placeholder,.form-textarea::placeholder{color:#6b7280;opacity:1}
.form-input::-webkit-datetime-edit-fields-wrapper{padding:0}
.form-input::-webkit-date-and-time-value{min-height:1.5em}
.block{display:block}
.w-full{width:100%}
.bg-green-200{--tw-bg-opacity:1;background-color:rgba(187,247,208,var(--tw-bg-opacity))}